*,
::before,
::after{  box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
:root{
    --primary-color:#f77b67;
    --background-color: rgb(240, 215, 215);
    --text-color: #0e0222;
}
::selection{
    background-color:#f77b67;
    color:aliceblue;
}

body{
    height: 100vh;
    overflow-y: auto;
    font-family: 'Nunito', sans-serif;
    color-scheme: dark light;
    color: var(--text-color);
    background-color: var(--background-color);
    scroll-behavior: smooth;
}


.darkmode{
     --background-color: #0e0222;
     --text-color:   rgb(240, 215, 215);
     --primary-color:#f77b67;
}
.lightmode{
    --primary-color:#f77b67;
    --background-color: rgb(240, 215, 215);
    --text-color: #0e0222;
}
/* Banner section*/

.banner{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
}
.navbar{
    width: 100vw;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    
    padding: 1rem 1.5rem;
    position: fixed;
    z-index: 5;
    background-color: var(--background-color);
}

.logo{
    font-weight: 700;
    font-size: 2rem;
    font-family:'Qwitcher Grypen', cursive;
}
.logo a{
    text-decoration: none;
    color: var(--text-color);
}

.logo span{
    color: var(--primary-color);
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
}
.navbar_list li{
    list-style-type: none;
    display: inline-block;
    padding-inline: 1rem;
    font-weight: 700;
}
.navbar_list li:hover{
    border-bottom: 2px solid var(--primary-color);
}
.navbar_list li:focus{
    outline:  0.5px solid var(--primary-color);
}

.navbar_list li a{
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}
                         /* TOGGLE THEME */
.toggle{
    position: relative;
    display: inline-block;
    width: 51px;
    height: 25px;
    margin: 0 10px;
}
.slider{
    position:absolute;
    cursor: pointer;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color:var(--text-color);
    transition: 0.4s;
    border-radius: 34px;
}
.toggle input {
    display: none;
}
.slider::before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: 2.5px;
    bottom:2.5px;
    background-color: white;
    transition: 0.4s;
}
input:checked + .slider{
    background-color: #f77b67;
}
input:checked + .slider::before{
    transform: translateX(25px);
}
.title_motto{
    display:flex;
    flex-direction:column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content:center;
    text-align: center;
    height: fit-content;
    position: relative;
    top: 15rem;
}
.title_motto h1{
    font-size: clamp(3rem, 5rem, 6rem);
}
.title_motto h2{
    font-size: clamp(2rem, 3rem, 3.5rem);
    color: var(--primary-color);
    font-family:'Qwitcher Grypen', cursive;
}
.mobile-toggle-nav{
    display: none;
}
.navbar[data-visible="true"]{
    transform: translateX(-3%);
    transition: transform 350ms ease-out;
}
                     /* TOGGLE NAVBAR*/
@media(max-width: 650px){
    .navbar{
        position: fixed;
        inset:0 0 0 35%;
        flex-direction:column-reverse;
        justify-content: space-between;
        align-items: center;
        
       padding:min(20vh, 10rem) 3rem;
       background: rgba(219, 207, 207, 0.547);
       backdrop-filter: blur(0.5rem);

       transform: translateX(70%);
       transition: transform 350ms ease-in;
    }
   
    .navbar_list{
        display: flex;
        flex-direction: column;
        gap:3rem;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
    .navbar_list li a{
        color: #0e0222;
        font-size: 1rem;
    }
    .mobile-toggle-nav{
        display:block;
        position: fixed;
        z-index: 10;
        background-image:url("images/icons8-menu-50.png");
        background-color: transparent;
        border-radius: 5%;
        background-size: cover;
        background-repeat: no-repeat;
        border:0;
        width: 1.5rem;
        aspect-ratio: 1/1;
        top: 3rem;
        right:3rem;
    }

    .mobile-toggle-nav[aria-expanded="true"]{
        background-image: url("images/icons8-circled-x-50.png");
    }
    .title_motto h1{
        font-size: clamp(1rem, 2rem, 3rem);
    }
    .title_motto h2{
        font-size: clamp(1rem, 1.5rem, 2rem);
        color: var(--primary-color);
        font-family:'Qwitcher Grypen', cursive;
    }
}
                      /* Banner underline animation */
.title_motto::after{
    content:"";
    width: 100%;
    height: 0.1rem;
    background-color:transparent;
    border:none;
    position:absolute;
    left: 0;
    bottom:-2rem;
    background-image:linear-gradient(to right, rgba(244, 193, 193, 0), rgba(244, 193, 193, 0.022), rgb(244, 193, 193), var(--primary-color), #f8583f, rgba(244, 193, 193, 0),rgba(244, 193, 193, 0) );

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 500ms ease-in;
}
.title_motto:hover::after{
    transform: scale(1);
    transform-origin:left;
}

/* About me section*/

.about_me{
    padding-inline: clamp(3rem, 50vw, 5rem);
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.photo_flexItem, 
.about_me_details{   
    flex-basis: 50%;
    flex-shrink: 1;
    font-size: (1rem, 1.5rem, 2rem);
}

.about_me_picture{
    width: 100%;
    height: auto;
    overflow: auto;
    box-shadow: 0 6px 22px 0  #39121a;
    border-radius: 5%;
}
.about_me_details h2{
    color: var(--primary-color);
    font-size: clamp(2rem, 5rem, 6rem);
    font-family:'Qwitcher Grypen', cursive;
    text-align: center;
}

                            /* PROJECT SECTION */

                            /* Projects: CARDS*/
#projects_section{
    height:fit-content;
    padding-top: 6rem;
    margin-bottom: 6rem;
}
.projects{
    padding-inline: 15%;
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
}
.projects_title{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 4rem;
}

.project{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background-color:var(--text-color);
    color:var(--background-color);
    padding: 0.5rem;
    border-radius: 5%;
    box-shadow:15px 14px 20px #0000008c;
}
.project:hover,
.project:focus{
    background-color:var(--primary-color);
    color:var(--text-color);
    transition: 300ms ease;
}

.project_image{
    width: 100%;
    height: auto;
    overflow: auto;
    border-radius: 5%;
}

button.open_project {
    width: 100%;
    padding:7px 10px;
    margin-bottom: 15px;
    border-radius: 7px;
    border: none;
    outline: none;
    cursor:pointer;

    background-color: var(--background-color);
    color: var(--primary-color);
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
button.open_project:hover,
button.open_project:focus{
    transition: 1s;
    background-color: var(--primary-color);
    color: var(--text-color);
}
button.open_project:active{
    position: relative;
    top:1px;
    left:1px;
}
                                /* Projects: MODAL*/
.modal-container{
    position: fixed;
    top:0;
    left: 0;
    z-index:2;
    height: 100vh;
    width: 100vw;
    background-color:rgba(0, 0, 0, 0.5);
    color:var(--background-color);

    display:flex;
    justify-content: center;
    align-items: center;
}
.modal-container.modal_container_project01,
.modal-container.modal_container_project02,
.modal-container.modal_container_project03,
.modal-container.modal_container_project04{
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-container.modal_container_project01.show,
.modal-container.modal_container_project02.show,
.modal-container.modal_container_project03.show,
.modal-container.modal_container_project04.show{
    opacity: 1;
    pointer-events: auto;
}

.modal{
    background-color: var(--text-color);
    width: min(60rem, 100%);
    height: calc(100vh - 20%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index:3;

    display:flex;
    gap:2rem;
    padding:1rem;
}

                    /* Modal- IMAGE-CAROUSEL */
.Image_Carousel,
.modal_project_details{
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}                    
.Image_Carousel{
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
}
.Image_Carousel button.left-slide,
.Image_Carousel button.right-slide{
    position: absolute;
    bottom:50%;
    z-index: 3;
    width: 20px;
    height: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 0.5px solid var(--primary-color);
    outline: 1px rgb(93, 92, 92);
    cursor:pointer;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.Image_Carousel button.left-slide:hover,
.Image_Carousel button.left-slide:focus-visible,
.Image_Carousel button.right-slide:hover,
.Image_Carousel button.right-slide:focus-visible{
    transition: 0.5s;
    background-color: var(--primary-color);
    color: var(--text-color);
}

.Image_Carousel .left-slide{
    left:5%;
}
.Image_Carousel .right-slide{
    right:5%;
}

.Image_Carousel .images-carousel-items .item{
    display: none;
    position: absolute;
    top:15%;
    
}
.Image_Carousel .images-carousel-items .item img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position:center;
    border-radius: 5px;
    box-shadow:15px 14px 20px #0000008c;
    margin:auto;
}
.Image_Carousel .images-carousel-items .caption{
    position: absolute;
    width: 100%;
    height: 30px;
    bottom:12%;
    left:0px;
    text-align: center;
    color:var(--primary-color);
    background-color: #c3b9d471;

}

.Image_Carousel .images-carousel-items .item.active{
    display: initial;
    width: 100%;
}

                            /* MODAL-Project details */
.modal_project_details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    font-size: clamp(0.5rem 0.7rem 1rem);
}

.modal h1{
    margin:0;
    align-self: center;
    color:var(--primary-color);
}

.modal ul {
    list-style-type: none;
}

button.close_the_project {
    align-self: flex-end;
    width: 20px;
    height: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    border: 0.5px solid var(--primary-color);
    outline: 1px rgb(93, 92, 92);
    cursor:pointer;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
button.close_the_project:hover,
button.close_the_project:focus{
    transition: 0.5s;
    background-color: var(--primary-color);
    color: var(--text-color);
}
button.close_the_project:active{
    position: relative;
    top:1px;
    left:1px;
}
.button_media{
    color:var(--primary-color);
    background-color: transparent;
    border: 0.5px solid var(--primary-color);
    outline: 1px rgb(93, 92, 92);
    cursor:pointer;
    margin-inline: 1rem;
    padding-block:0.5rem;
    padding-inline: 1rem;
    border-radius: 10px;
    font-weight: 700;
}
.button_media:hover{

    background-color: var(--primary-color);
    color: var(--text-color);
}

.button_media>a{
    text-decoration: none;
    color: var(--primary-color);
}
.button_media>a:hover{
    color: var(--text-color);
}
.media_links{
    display: flex;
    align-self: center;
    justify-content: center ;
}
                                /* CONTACT ME SECTION*/

#work_with_me{
    padding-inline: 15%;
    height: fit-content;
    margin-top: 10rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(1rem, 1.5rem, 2rem);   
}
#work_with_me h3{
    color: var(--primary-color);
}

form{
    display:grid;
    gap:0.2rem;
    align-items: center;
    text-align: center;
    padding: clamp(1rem, 1.5rem, 2rem);
    margin: clamp(1rem, 1.5rem, 2rem);
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    color: var(--primary-color);
    box-shadow: 6x 10px 40px 2px rgb(244, 193, 193);
    z-index: 1;
    }

.floating_group{
    position: relative;
   }

.floating_label{
       position:absolute;
       top:50%;
       left: 1rem;
       transform: translateY(-50%);
       font-size: 12px;
       transition:
        color 250ms ease-in-out,
        top 250ms ease-in-out;
   }
textarea{
    resize: none;
    overflow: auto;
}  

input, textarea{
    background-color: transparent;
    border:1px solid var(--primary-color);
    color: var(--text-color);
    font:inherit;
    border-radius: 1rem;
    padding: 0.3rem 1rem;  
    width: 100%;
}

input:focus, 
textarea:focus{
outline: none;
border: 1px solid var(--text-color);
}

input:focus + .floating_label,
input:valid+ .floating_label{
    top: -0.8rem;
    color: var(--text-color)
}
textarea:focus + .floating_label,
textarea:valid+ .floating_label{
    top: -1rem;
    color: var(--text-color)
}
input[type="submit"]{
    background-color: var(--primary-color);
    font-size: 12px;
    cursor: pointer;
    padding:0.5rem;
    font-weight: 700;
}
input[type="submit"]:hover{
    border:1.5px solid var(--text-color);
    cursor: pointer;
}
.input[type="submit"]:active{
    background-color:#f05139;
}

/* Footer */

footer{
    width: 100vw;
    height: fit-content;
    margin-top: 3rem;
    padding-inline: 15%;
    background-color: var(--primary-color);
    color: var(--background-color);
}
.footer_flex{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.footer_flex a{
    text-decoration: none;
    color:var(--background-color)
}
#copyrights{
    text-align: center;
    font-size: 12px;
}


@media (max-width: 800px){
    .about_me{
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding-top: 7rem;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        text-align: center;
    }

    #work_with_me{
        padding-inline: 15%;
        height: fit-content;
        margin-top: 10rem;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 2rem;   
    }
    .modal{
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
        font-size: 0.7rem;
        font-size: clamp(0.7rem 1rem 1.5rem);
    }
   
    .Image_Carousel .images-carousel-items .item{
        top:0;
        margin-bottom:2rem;
    }
   
}